@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/mononoki.min.css");
:root {
  --font-family: "mononoki", monospace;
  --line-height: 1.2rem;
  --border-thickness: 2px;
  --text-color: #181c14;
  --text-color-alt: #121212;
  --background-color: #fdfdfd;
  --background-color-alt: #eee;

  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: tabular-nums lining-nums;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 14px;
  }

  body {
    padding: var(--line-height) 1ch;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  color: var(--text-color);
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3 {
  margin: calc(var(--line-height) * 2) 0 var(--line-height);
  line-height: calc(var(--line-height) * 1.5);
}

h1 {
  font-size: 2rem;
  margin-top: calc(var(--line-height) * 3);
}

h2 {
  font-size: 1.5rem;
  text-transform: lowercase;
}

ul,
ol {
  list-style-position: inside;
  margin: var(--line-height) 0;
  padding-left: 2ch;
}

li {
  margin-bottom: calc(var(--line-height) / 2);
}

a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: var(--border-thickness) solid transparent;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: var(--line-height);
}

p a {
  font-weight: bold;
}

section {
  margin: calc(var(--line-height) * 2) 0;
}

footer {
  padding: var(--line-height) 0;
  border-top: var(--border-thickness) solid var(--text-color);
  text-align: center;
}

footer a {
  margin: 0 0.5ch;
}
